@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient:  linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  --text-color: #000;
  --bg-color: #ececec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #e2e2e2;
    --bg-color: #2d2d2d;
  }
}


*, *::after, *::before {
  color: var(--text-color)
}

body {
  background: var(--bg-gradient);
}
